<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN' 'http://java.sun.com/dtd/web-app_2_3.dtd'>

<web-app>
    <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:applicationContext.spring
		</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
 
  <!-- ******************************************************************* -->
  <!-- * Servlets definition * -->
  <!-- ******************************************************************* -->
  <servlet>
    <servlet-name>remoting</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
 
  <!-- ******************************************************************* -->
  <!-- * Servlets mapping * -->
  <!-- ******************************************************************* -->
  <servlet-mapping>
    <servlet-name>remoting</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
</web-app>
